<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="lembrete">
      <h2 data-cy="lembreteDetailsHeading"><span jhiTranslate="controleOperacionalApp.lembrete.detail.title">Lembrete</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ lembrete.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="controleOperacionalApp.lembrete.nome" [ngbTooltip]="'controleOperacionalApp.lembrete.help.nome' | translate"
            >Nome</span
          >
        </dt>
        <dd>
          <span>{{ lembrete.nome }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.lembrete.descricao"
            [ngbTooltip]="'controleOperacionalApp.lembrete.help.descricao' | translate"
            >Descricao</span
          >
        </dt>
        <dd>
          <span>{{ lembrete.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="controleOperacionalApp.lembrete.tipoRelatorio">Tipo Relatorio</span></dt>
        <dd>
          <div *ngIf="lembrete.tipoRelatorio">
            <a [routerLink]="['/tipo-relatorio', lembrete.tipoRelatorio?.id, 'view']">{{ lembrete.tipoRelatorio?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="controleOperacionalApp.lembrete.tipoOperacao">Tipo Operacao</span></dt>
        <dd>
          <div *ngIf="lembrete.tipoOperacao">
            <a [routerLink]="['/tipo-operacao', lembrete.tipoOperacao?.id, 'view']">{{ lembrete.tipoOperacao?.descricao }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/lembrete', lembrete.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
