<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="status">
      <h2 data-cy="statusDetailsHeading"><span jhiTranslate="controleOperacionalApp.status.detail.title">Status</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ status.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.status.descricao"
            [ngbTooltip]="'controleOperacionalApp.status.help.descricao' | translate"
            >Descricao</span
          >
        </dt>
        <dd>
          <span>{{ status.descricao }}</span>
        </dd>
        <dt>
          <span jhiTranslate="controleOperacionalApp.status.prazo" [ngbTooltip]="'controleOperacionalApp.status.help.prazo' | translate"
            >Prazo</span
          >
        </dt>
        <dd>
          <span>{{ status.prazo | formatMediumDate }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.status.dataResolucao"
            [ngbTooltip]="'controleOperacionalApp.status.help.dataResolucao' | translate"
            >Data Resolucao</span
          >
        </dt>
        <dd>
          <span>{{ status.dataResolucao | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="controleOperacionalApp.status.relator">Relator</span></dt>
        <dd>
          <span>{{ status.relator?.login }}</span>
        </dd>
        <dt><span jhiTranslate="controleOperacionalApp.status.responsavel">Responsavel</span></dt>
        <dd>
          <span>{{ status.responsavel?.login }}</span>
        </dd>
        <dt><span jhiTranslate="controleOperacionalApp.status.problema">Problema</span></dt>
        <dd>
          <div *ngIf="status.problema">
            <a [routerLink]="['/problema', status.problema?.id, 'view']">{{ status.problema?.descricao }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/status', status.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
