<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="relatorio">
      <h2 data-cy="relatorioDetailsHeading"><span jhiTranslate="controleOperacionalApp.relatorio.detail.title">Relatorio</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ relatorio.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.relatorio.dataHora"
            [ngbTooltip]="'controleOperacionalApp.relatorio.help.dataHora' | translate"
            >Data Hora</span
          >
        </dt>
        <dd>
          <span>{{ relatorio.dataHora | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.relatorio.relato"
            [ngbTooltip]="'controleOperacionalApp.relatorio.help.relato' | translate"
            >Relato</span
          >
        </dt>
        <dd>
          <span>{{ relatorio.relato }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.relatorio.linksExternos"
            [ngbTooltip]="'controleOperacionalApp.relatorio.help.linksExternos' | translate"
            >Links Externos</span
          >
        </dt>
        <dd>
          <span>{{ relatorio.linksExternos }}</span>
        </dd>
        <dt><span jhiTranslate="controleOperacionalApp.relatorio.tipo">Tipo</span></dt>
        <dd>
          <div *ngIf="relatorio.tipo">
            <a [routerLink]="['/tipo-relatorio', relatorio.tipo?.id, 'view']">{{ relatorio.tipo?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="controleOperacionalApp.relatorio.responsavel">Responsavel</span></dt>
        <dd>
          <span>{{ relatorio.responsavel?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/relatorio', relatorio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
