<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-relatorio-heading"
        data-cy="RelatorioCreateUpdateHeading"
        jhiTranslate="controleOperacionalApp.relatorio.home.createOrEditLabel"
      >
        Create or edit a Relatorio
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.relatorio.relato"
            for="field_relato"
            [ngbTooltip]="'controleOperacionalApp.relatorio.help.relato' | translate"
            >Relato</label
          >
          <textarea class="form-control" name="relato" id="field_relato" data-cy="relato" formControlName="relato"></textarea>
          <div *ngIf="editForm.get('relato')!.invalid && (editForm.get('relato')!.dirty || editForm.get('relato')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('relato')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.relatorio.linksExternos"
            for="field_linksExternos"
            [ngbTooltip]="'controleOperacionalApp.relatorio.help.linksExternos' | translate"
            >Links Externos</label
          >
          <textarea
            class="form-control"
            name="linksExternos"
            id="field_linksExternos"
            data-cy="linksExternos"
            formControlName="linksExternos"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.relatorio.tipo" for="field_tipo">Tipo</label>
          <select class="form-control" id="field_tipo" data-cy="tipo" name="tipo" formControlName="tipo">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="tipoRelatorioOption.id === editForm.get('tipo')!.value?.id ? editForm.get('tipo')!.value : tipoRelatorioOption"
              *ngFor="let tipoRelatorioOption of tipoRelatoriosSharedCollection; trackBy: trackTipoRelatorioById"
            >
              {{ tipoRelatorioOption.nome }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.relatorio.responsavel" for="field_responsavel"
            >Responsavel</label
          >
          <select class="form-control" id="field_responsavel" data-cy="responsavel" name="responsavel" formControlName="responsavel">
            <option *ngIf="!editForm.get('responsavel')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('responsavel')!.value?.id ? editForm.get('responsavel')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.nome }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['responsavel'])!.invalid && (editForm.get(['responsavel'])!.dirty || editForm.get(['responsavel'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['responsavel'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
