<div>
  <h2 id="page-heading" data-cy="RelatorioHeading">
    <span jhiTranslate="controleOperacionalApp.relatorio.home.title">Relatorios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controleOperacionalApp.relatorio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-relatorio"
        [routerLink]="['/relatorio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controleOperacionalApp.relatorio.home.createLabel"> Create a new Relatorio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="relatorios?.length === 0">
    <span jhiTranslate="controleOperacionalApp.relatorio.home.notFound">No relatorios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="relatorios && relatorios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dataHora">
            <span jhiTranslate="controleOperacionalApp.relatorio.dataHora">Data Hora</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="relato">
            <span jhiTranslate="controleOperacionalApp.relatorio.relato">Relato</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linksExternos">
            <span jhiTranslate="controleOperacionalApp.relatorio.linksExternos">Links Externos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipo.nome">
            <span jhiTranslate="controleOperacionalApp.relatorio.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="responsavel.login">
            <span jhiTranslate="controleOperacionalApp.relatorio.responsavel">Responsavel</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let relatorio of relatorios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/relatorio', relatorio.id, 'view']">{{ relatorio.id }}</a>
          </td>
          <td>{{ relatorio.dataHora | formatMediumDatetime }}</td>
          <td>{{ relatorio.relato }}</td>
          <td>{{ relatorio.linksExternos }}</td>
          <td>
            <div *ngIf="relatorio.tipo">
              <a [routerLink]="['/tipo-relatorio', relatorio.tipo?.id, 'view']">{{ relatorio.tipo?.nome }}</a>
            </div>
          </td>
          <td>
            {{ relatorio.responsavel?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/relatorio', relatorio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/relatorio', relatorio.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(relatorio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
