<div>
  <h2 id="page-heading" data-cy="AmostraHeading">
    <span jhiTranslate="controleOperacionalApp.amostra.home.title">Amostras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controleOperacionalApp.amostra.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-amostra"
        [routerLink]="['/amostra/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controleOperacionalApp.amostra.home.createLabel"> Create a new Amostra </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="amostras?.length === 0">
    <span jhiTranslate="controleOperacionalApp.amostra.home.notFound">No amostras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="amostras && amostras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dataHoraColeta">
            <span jhiTranslate="controleOperacionalApp.amostra.dataHoraColeta">Data Hora Coleta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observacao">
            <span jhiTranslate="controleOperacionalApp.amostra.observacao">Observacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="identificadorExterno">
            <span jhiTranslate="controleOperacionalApp.amostra.identificadorExterno">Identificador Externo</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recebimentoNoLaboratorio">
            <span jhiTranslate="controleOperacionalApp.amostra.recebimentoNoLaboratorio">Recebimento No Laboratorio</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="operacao.descricao">
            <span jhiTranslate="controleOperacionalApp.amostra.operacao">Operacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="origemAmostra.descricao">
            <span jhiTranslate="controleOperacionalApp.amostra.origemAmostra">Origem Amostra</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="produto.nomeCurto">
            <span jhiTranslate="controleOperacionalApp.amostra.produto">Produto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoAmostra.descricao">
            <span jhiTranslate="controleOperacionalApp.amostra.tipoAmostra">Tipo Amostra</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="amostradaPor.login">
            <span jhiTranslate="controleOperacionalApp.amostra.amostradaPor">Amostrada Por</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recebidaPor.login">
            <span jhiTranslate="controleOperacionalApp.amostra.recebidaPor">Recebida Por</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let amostra of amostras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/amostra', amostra.id, 'view']">{{ amostra.id }}</a>
          </td>
          <td>{{ amostra.dataHoraColeta | formatMediumDatetime }}</td>
          <td>{{ amostra.observacao }}</td>
          <td>{{ amostra.identificadorExterno }}</td>
          <td>{{ amostra.recebimentoNoLaboratorio | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="amostra.operacao">
              <a [routerLink]="['/operacao', amostra.operacao?.id, 'view']">{{ amostra.operacao?.descricao }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="amostra.origemAmostra">
              <a [routerLink]="['/origem-amostra', amostra.origemAmostra?.id, 'view']">{{ amostra.origemAmostra?.descricao }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="amostra.produto">
              <a [routerLink]="['/produto', amostra.produto?.id, 'view']">{{ amostra.produto?.nomeCurto }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="amostra.tipoAmostra">
              <a [routerLink]="['/tipo-amostra', amostra.tipoAmostra?.id, 'view']">{{ amostra.tipoAmostra?.descricao }}</a>
            </div>
          </td>
          <td>
            {{ amostra.amostradaPor?.login }}
          </td>
          <td>
            {{ amostra.recebidaPor?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/amostra', amostra.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/amostra', amostra.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(amostra)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
