<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="origemAmostra">
      <h2 data-cy="origemAmostraDetailsHeading">
        <span jhiTranslate="controleOperacionalApp.origemAmostra.detail.title">Origem Amostra</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ origemAmostra.id }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.origemAmostra.descricao"
            [ngbTooltip]="'controleOperacionalApp.origemAmostra.help.descricao' | translate"
            >Descricao</span
          >
        </dt>
        <dd>
          <span>{{ origemAmostra.descricao }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="controleOperacionalApp.origemAmostra.obrigatoriaDescricao"
            [ngbTooltip]="'controleOperacionalApp.origemAmostra.help.obrigatoriaDescricao' | translate"
            >Obrigatoria Descricao</span
          >
        </dt>
        <dd>
          <span>{{ origemAmostra.obrigatoriaDescricao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/origem-amostra', origemAmostra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
