<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-produto-heading"
        data-cy="ProdutoCreateUpdateHeading"
        jhiTranslate="controleOperacionalApp.produto.home.createOrEditLabel"
      >
        Create or edit a Produto
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.produto.codigo"
            for="field_codigo"
            [ngbTooltip]="'controleOperacionalApp.produto.help.codigo' | translate"
            >Codigo</label
          >
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          <div *ngIf="editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('codigo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codigo')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 3 }"
            >
              This field cannot be longer than 3 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.produto.nomeCurto"
            for="field_nomeCurto"
            [ngbTooltip]="'controleOperacionalApp.produto.help.nomeCurto' | translate"
            >Nome Curto</label
          >
          <input type="text" class="form-control" name="nomeCurto" id="field_nomeCurto" data-cy="nomeCurto" formControlName="nomeCurto" />
          <div *ngIf="editForm.get('nomeCurto')!.invalid && (editForm.get('nomeCurto')!.dirty || editForm.get('nomeCurto')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeCurto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.produto.nomeCompleto"
            for="field_nomeCompleto"
            [ngbTooltip]="'controleOperacionalApp.produto.help.nomeCompleto' | translate"
            >Nome Completo</label
          >
          <input
            type="text"
            class="form-control"
            name="nomeCompleto"
            id="field_nomeCompleto"
            data-cy="nomeCompleto"
            formControlName="nomeCompleto"
          />
          <div
            *ngIf="editForm.get('nomeCompleto')!.invalid && (editForm.get('nomeCompleto')!.dirty || editForm.get('nomeCompleto')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeCompleto')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="controleOperacionalApp.produto.alertas" for="field_alertas">Alertas</label>
          <select class="form-control" id="field_alertas" data-cy="alertas" multiple name="alertas" formControlName="alertas">
            <option
              [ngValue]="getSelectedAlertaProduto(alertaProdutoOption, editForm.get('alertas')!.value)"
              *ngFor="let alertaProdutoOption of alertaProdutosSharedCollection; trackBy: trackAlertaProdutoById"
            >
              {{ alertaProdutoOption.descricao }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
