<div>
  <h2 id="page-heading" data-cy="TipoRelatorioHeading">
    <span jhiTranslate="controleOperacionalApp.tipoRelatorio.home.title">Tipo Relatorios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controleOperacionalApp.tipoRelatorio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tipo-relatorio"
        [routerLink]="['/tipo-relatorio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controleOperacionalApp.tipoRelatorio.home.createLabel"> Create a new Tipo Relatorio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tipoRelatorios?.length === 0">
    <span jhiTranslate="controleOperacionalApp.tipoRelatorio.home.notFound">No tipoRelatorios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tipoRelatorios && tipoRelatorios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="controleOperacionalApp.tipoRelatorio.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="controleOperacionalApp.tipoRelatorio.usuariosAut">Usuarios Aut</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipoRelatorio of tipoRelatorios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tipo-relatorio', tipoRelatorio.id, 'view']">{{ tipoRelatorio.id }}</a>
          </td>
          <td>{{ tipoRelatorio.nome }}</td>
          <td>
            <span *ngFor="let usuariosAut of tipoRelatorio.usuariosAuts; let last = last">
              {{ usuariosAut.login }}{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tipo-relatorio', tipoRelatorio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tipo-relatorio', tipoRelatorio.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tipoRelatorio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
