<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-amostra-heading"
        data-cy="AmostraCreateUpdateHeading"
        jhiTranslate="controleOperacionalApp.amostra.home.createOrEditLabel"
      >
        Create or edit a Amostra
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.amostra.dataHora"
            for="field_dataHora"
            [ngbTooltip]="'controleOperacionalApp.amostra.help.dataHora' | translate"
            >Data Hora</label
          >
          <div class="d-flex">
            <input
              id="field_dataHora"
              data-cy="dataHora"
              type="datetime-local"
              class="form-control"
              name="dataHora"
              formControlName="dataHora"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.amostra.observacao" for="field_observacao"
            >Observacao</label
          >
          <input
            type="text"
            class="form-control"
            name="observacao"
            id="field_observacao"
            data-cy="observacao"
            formControlName="observacao"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.amostra.identificadorExterno"
            for="field_identificadorExterno"
            >Identificador Externo</label
          >
          <input
            type="text"
            class="form-control"
            name="identificadorExterno"
            id="field_identificadorExterno"
            data-cy="identificadorExterno"
            formControlName="identificadorExterno"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="controleOperacionalApp.amostra.amostraNoLaboratorio"
            for="field_amostraNoLaboratorio"
            >Amostra No Laboratorio</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="amostraNoLaboratorio"
            id="field_amostraNoLaboratorio"
            data-cy="amostraNoLaboratorio"
            formControlName="amostraNoLaboratorio"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.amostra.operacao" for="field_operacao">Operacao</label>
          <select class="form-control" id="field_operacao" data-cy="operacao" name="operacao" formControlName="operacao">
            <option *ngIf="!editForm.get('operacao')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="operacaoOption.id === editForm.get('operacao')!.value?.id ? editForm.get('operacao')!.value : operacaoOption"
              *ngFor="let operacaoOption of operacaosSharedCollection; trackBy: trackOperacaoById"
            >
              {{ operacaoOption.descricao }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['operacao'])!.invalid && (editForm.get(['operacao'])!.dirty || editForm.get(['operacao'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['operacao'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.amostra.origemAmostra" for="field_origemAmostra"
            >Origem Amostra</label
          >
          <select
            class="form-control"
            id="field_origemAmostra"
            data-cy="origemAmostra"
            name="origemAmostra"
            formControlName="origemAmostra"
          >
            <option *ngIf="!editForm.get('origemAmostra')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                origemAmostraOption.id === editForm.get('origemAmostra')!.value?.id
                  ? editForm.get('origemAmostra')!.value
                  : origemAmostraOption
              "
              *ngFor="let origemAmostraOption of origemAmostrasSharedCollection; trackBy: trackOrigemAmostraById"
            >
              {{ origemAmostraOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['origemAmostra'])!.invalid && (editForm.get(['origemAmostra'])!.dirty || editForm.get(['origemAmostra'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['origemAmostra'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.amostra.produto" for="field_produto">Produto</label>
          <select class="form-control" id="field_produto" data-cy="produto" name="produto" formControlName="produto">
            <option *ngIf="!editForm.get('produto')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="produtoOption.id === editForm.get('produto')!.value?.id ? editForm.get('produto')!.value : produtoOption"
              *ngFor="let produtoOption of produtosSharedCollection; trackBy: trackProdutoById"
            >
              {{ produtoOption.nomeCurto }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['produto'])!.invalid && (editForm.get(['produto'])!.dirty || editForm.get(['produto'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['produto'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.amostra.tipoAmostra" for="field_tipoAmostra"
            >Tipo Amostra</label
          >
          <select class="form-control" id="field_tipoAmostra" data-cy="tipoAmostra" name="tipoAmostra" formControlName="tipoAmostra">
            <option *ngIf="!editForm.get('tipoAmostra')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                tipoAmostraOption.id === editForm.get('tipoAmostra')!.value?.id ? editForm.get('tipoAmostra')!.value : tipoAmostraOption
              "
              *ngFor="let tipoAmostraOption of tipoAmostrasSharedCollection; trackBy: trackTipoAmostraById"
            >
              {{ tipoAmostraOption.descricao }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['tipoAmostra'])!.invalid && (editForm.get(['tipoAmostra'])!.dirty || editForm.get(['tipoAmostra'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['tipoAmostra'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.amostra.amostradaPor" for="field_amostradaPor"
            >Amostrada Por</label
          >
          <select class="form-control" id="field_amostradaPor" data-cy="amostradaPor" name="amostradaPor" formControlName="amostradaPor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('amostradaPor')!.value?.id ? editForm.get('amostradaPor')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.nome }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="controleOperacionalApp.amostra.recebidaPor" for="field_recebidaPor"
            >Recebida Por</label
          >
          <select class="form-control" id="field_recebidaPor" data-cy="recebidaPor" name="recebidaPor" formControlName="recebidaPor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('recebidaPor')!.value?.id ? editForm.get('recebidaPor')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
